@font-face {
  src: url(../font/Poppins/Poppins-Regular.ttf);
  font-family: Poppins-Black;
}
/* ::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
  font-size: 1rem;
} */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1rem;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1rem;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 1rem;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #00a782, #479191);
  color: rgb(255, 251, 0);
  font-family: "Lobster", cursive;
  min-height: 100vh;
}
header {
  font-size: 3rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 60%;
}

form button {
  color: #ffd000;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
form button:hover {
  background: #ffd000;
  color: rgb(245, 241, 8);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  /* min-width: 30%; */
  list-style: none;
  width: 80%;
  text-align: center;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: rgb(245, 241, 8);
  color: black;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.trash-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  position: absolute;
  right: 20px;
}

.complete-btn {
  background: #ffd000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  position: absolute;
  left: 20px;
}
.todo-item {
  padding: 0.3rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.3;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}
.select {
  margin: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
select {
  color: black;
  width: 5.5rem;
  cursor: pointer;
  padding: 0.2rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #ffd000;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  padding: 0.2rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #ffd000;
}
